header {
  display: flex;
  background-color: var(--primary-bg-color);
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  top: 0;
  z-index: 1000;
  position: sticky;
  a {
    text-decoration: none;
    color: var(--secondary-accent-color);
  }
  .fa-microchip {
    color: var(--primary-accent-color);
    font-size: 3rem;
  }
  nav a:hover {
    color: var(--primary-accent-color);
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-family: var(--ff-header);
  }
  nav ul li {
    margin-right: 1.5rem;
    position: relative;
  }
  .hidden {
    display: none;
  }
  .visible {
    display: block;
  }
}

.header-logo {
  font-family: var(--ff-header);
  font-style: italic;
  font-size: 3rem;
}

.hamburger-menu {
  position: absolute;
  background-color: var(--primary-bg-color);
  padding: 0;
  margin: 0;
  white-space: nowrap;
}
.username-menu {
  cursor: pointer;
  color: var(--secondary-accent-color);
}
.username-menu:hover {
  color: var(--primary-accent-color);
}

@media (max-width: 600px) {
  .header-logo {
    font-size: 1.5rem;
  }

  header {
    padding: 0.5rem;
    nav ul {
      font-size: 1rem;
    }
    .fa-microchip {
      font-size: 1.5rem;
    }
  }
}
