@import url(variables.css);
@import url(header.css);
@import url(footer.css);
@import url(account.css);
@import url(blogpost.css);
@import url(edit.css);
@import url(staticblog.css);
@import url(carousel.css);
@import url(manage.css);

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0;
  width: 100%;
  background-color: var(--primary-bg-color);
  position: relative;
  padding-bottom: 12rem;
}
main {
  max-width: 1400px;
  margin: 1rem auto;
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid var(--primary-accent-color);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.news-header {
  color: var(--primary-accent-color);
  font-size: 2rem;
  font-weight: 600;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
label,
input,
button {
  font-family: var(--ff-main);
}
.center {
  display: block;
  margin: 1rem auto;
}
#toaster {
  visibility: hidden;
  min-width: 15rem;
  background-color: var(--primary-bg-color);
  color: var(--secondary-accent-color);
  text-align: center;
  border-radius: 1rem;
  padding: 1rem;
  position: fixed;
  bottom: 15rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
#toaster.show-toaster {
  visibility: visible;
  opacity: 1;
}
.modal {
  min-width: 15rem;
  background-color: var(--primary-accent-color);
  color: var(--primary-bg-color);
  text-align: center;
  border-radius: 1rem;
  padding: 1rem;
  position: fixed;
  bottom: 15rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}
.modal.confirmation-modal {
  background-color: var(--secondary-accent-color);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: var(--secondary-accent-color);
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
}

.yes-button,
.no-button {
  margin: 0.8rem;
  padding: 0.8rem 1.1rem;
  font-size: 1rem;
}

.yes-button {
  background-color: var(--primary-bg-color);
  color: var(--secondary-accent-color);
  border: none;
}

.no-button {
  background-color: var(--primary-bg-color);
  color: var(--secondary-accent-color);
  border: none;
}

.yes-button:hover,
.no-button:hover {
  cursor: pointer;
}
@media (max-width: 1400px) {
  main {
    margin: 1rem;
  }
}
@media (max-width: 600px) {
  .news-header {
    font-size: 1.5rem;
  }
}
