@import url(variables.css);
@import url(header.css);
@import url(footer.css);
@import url(account.css);
@import url(blogpost.css);
@import url(edit.css);
@import url(staticblog.css);
@import url(carousel.css);

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0;
  width: 100%;
  background-color: var(--primary-bg-color);
  position: relative;
  padding-bottom: 12rem;
}
main {
  max-width: 1400px;
  margin: 1rem auto;
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid var(--primary-accent-color);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.news-header {
  color: var(--primary-accent-color);
  font-size: 2rem;
}

@media (max-width: 1400px) {
  main {
    margin: 1rem;
  }
}
@media (max-width: 600px) {
  .news-header {
    font-size: 1.5rem;
  }
}

#toaster {
  visibility: hidden;
  min-width: 15rem;
  background-color: var(--primary-bg-color);
  color: var(--secondary-accent-color);
  text-align: center;
  border-radius: 1rem;
  padding: 1rem;
  position: fixed;
  bottom: 15rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
#toaster.show-toaster {
  visibility: visible;
  opacity: 1;
}
