@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  --primary-bg-color: #14293a;
  --secondary-bg-color: #1f3b4d;
  --primary-accent-color: #ff6f3c;
  --secondary-accent-color: #e0e0e0;

  --fs-base: 1rem;
  --fs-h1: 2rem;
  --fs-h2: 1.5rem;
  --fs-h3: 1.15rem;

  --ff-logo: "Orbitron", sans-serif;
  --ff-main: "Source Sans 3", sans-serif;
}
